$primary: #7a5ac3;

/**
 * Form Styles
 */

.form {
  padding: 45px 30px 0 30px;
  text-align: left;

  .group {
    position:relative;
    margin-bottom:45px;
  }

  input {
    font-size:18px;
    padding:10px 0;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
    caret-color:white;
    color: white;

    &:focus {
      outline: none;
      border-bottom: 1px solid $primary;
      transition:0.2s ease all;
    }
    &:not(:placeholder-shown):invalid {
      color: red;
      border-bottom: 1px solid red;
    }
  }

  // label
  label,
  input:placeholder-shown ~ label, {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    top:10px;
    //left: 5px;
    transition:0.2s ease all;
  }

  /* active state */
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label, {
    transform: translateY(-25px);
    font-size:14px;
    color:$primary;
  }
  input:not(:placeholder-shown):invalid ~ label {
    transform: translateY(-25px);
    font-size: 14px;
    color:red;
  }
  /* styling required tags
  input:required ~ label::after {
    content: ' *';
    color: red;
  }*/
  /* styling no-required tags */
  input:not([required]) ~ label::after {
    content: ' (optional)';
  }
}
