@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
/* @import "./forms";
@import "./modal";
@import "./tooltip";
@import "./chat";
@import "./tabs"; */

$primary: #7a5ac3;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root,
.App,
body,
html {
  height: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  height: 100vh;

  .section {
    padding: 1em 0;
    color: white;
    overflow: hidden;
  }
  .nested {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .stretch {
    flex: 1;
  }
}

/*
___ _____ ____________
|  |_c2t_|____c3t____|
|  |     |           |
|c1| c2m |    c3m    |
|  |_____|           |
|__|_c2b_|___________|

*/
.grid-3c {
  grid-template-columns: 1fr 3fr 12fr;
}

/*
______ ___________ ___
|_c2t_|____c3t____|  |
|     |           |  |
| c2m |   c3m     |c4|
|_____|           |  |
|_c2b_|___________|__|

*/
.grid-3c-vr {
  grid-template-columns: 3fr 12fr 1fr;
}

/*
___ _____ _________ ___
|  |_c2t_|___c3t___|  |
|  |     |         |  |
|c1| c2m |   c3m   |c4|
|  |_____|         |  |
|__|_c2b_|_________|__|

*/
.grid-4c {
  grid-template-columns: 1fr 3fr 9fr 3fr;
}

.c1 {
  background-color: #111;
}

.c2m,
.c3m {
  color: #ddd;
}

.c2m,
.c2t {
  background-color: #303030;
}

.c3m,
.c3t {
  background-color: #424242;
}

.c2b,
.c4 {
  background-color: #212121;
}

.c2b,
.c3t,
.c2t {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.dmsg-btn,
.user-btn {
  text-align: center;
}

/**
* Tab Styles
*/
.tabs {
  .tab-labels {
    list-style-type: none;
    padding: 0;
    display: flex;

    li {
      border-bottom: 1px solid #999;
      flex-grow: 1;
      text-align: center;
      display: inline-block;
      button {
        color: #fff;
        padding: 5px;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: transparent;
        &:hover {
          color: $primary;
        }
      }
      &:hover {
        border-bottom: 1px solid $primary;
      }
      &.active {
        border-bottom-color: $primary;
        button { color: $primary; }
      }
    }
  }
  .tab-content {}
}

/**
 * Channel Styles
 */
.channels {
  transition: all 0.5s ease-out;
  padding: 0 !important;

  .add-channel {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    span {
      line-height: 35.6px;
      margin-left: 1em;
    }
    button {
      background-color: transparent;
      outline: transparent;
      border: none;
      color: white;
      margin-right: .75em;
    }
  }
}

.channel {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 4px;

  button {
    background: transparent !important;
    outline: transparent    !important;
    border: none            !important;
    color: #999             !important;
    margin-right: .75em     !important;
    visibility: hidden      !important;
  }

  &.is-current-channel,
  &:hover {
    margin-left: 0;
    background-color: #424242;
    border-left: 4px solid $primary;
    a { color: #f1f1f1; }
    button {
      visibility: visible   !important;
    }
  }

  .prepend div {
    display: inline-block;
    font-size: 13px !important;
    margin-right: 7px;
  }
  .select-channel-link {
    color: #999;
    padding: 8px 1em;
    width: 100%;
    text-align: left;
  }
}

.current-channel {
  padding: 0 1em;
  height: 28px;
  display: flex;
  justify-content: space-between;

  span { color: #999; }
  .name { line-height: 28px; }

  .topic {
    font-size: 14px;
    line-height: 28px;
    border-left: 1px solid #999;
    padding-left: 7px;
    margin-left: 7px;
    flex: 1;
  }

  .ui.icon.button,
  .ui.icon.buttons .button {
    padding: 0.55em 0.55em 0.55em;
    color: #eee;
    background-color: transparent;
    &:hover {
      background-color: #111;
    }
  }
}

/**
* Profile Nav style
*/
.profile-nav {
  padding: 0 1em;
  height: 28px;
  display: flex;
  justify-content: space-between;
  line-height: 28px;

  .ui.icon.button,
  .ui.icon.buttons .button {
    padding: 0.55em 0.55em 0.55em;
    color: #eee;
    background-color: transparent;
    &:hover {
      background-color: #111;
    }
  }
}

/**
* Form Styles
*/
.custom-form {
  padding: 1.5rem 1rem 0 1rem;
  text-align: left;

  .group {
    position:relative;
    margin-bottom:45px;
  }

  input,
  textarea {
    font-size:18px;
    padding:10px 0;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
    caret-color:white;
    color: white;

    &:focus {
      outline: none;
      border-bottom: 1px solid $primary;
      transition:0.2s ease all;
    }
    &:not(:placeholder-shown):invalid {
      color: red;
      border-bottom: 1px solid red;
    }
  }

  // label
  label,
  input:placeholder-shown ~ label,
  textarea:placeholder-shown ~ label, {
    color:#999;
    // font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    top:10px;
    //left: 5px;
    transition:0.2s ease all;
  }

  /* active state */
  input:focus ~ label,
  textarea:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:not(:placeholder-shown) ~ label, {
    transform: translateY(-25px);
    font-size:14px;
    color:$primary;
  }
  input:not(:placeholder-shown):invalid ~ label,
  textarea:not(:placeholder-shown):invalid ~ label {
    transform: translateY(-25px);
    font-size: 14px;
    color:red;
  }
  /* styling required tags
  input:required ~ label::after
  textarea:required ~ label::after {
    content: ' *';
    color: red;
  }*/
  /* styling no-required tags */
  input:not([required]) ~ label::after,
  textarea:not([required]) ~ label::after {
    content: ' (optional)';
  }
}

/**
* Chat Styles
*/
.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  overflow: hidden;
  .header {
    color: #f1f1f1;
  }
  .chat-history {
    flex: 1 1 auto;
    height: 0px;
    overflow-y: auto;
    .comments { max-width: 100%; }
    .comment {
      margin: 0 1rem;
      //border-bottom: 1px solid rgba(155,155,155,0.2);
      padding: 7px 0;
      .author,
      .text {
        color: #ddd;
      }
      .metadata{
        color: #666;
      }
    }
  }

  .chatbox {
    background-color: inherit;

    .custom-form {
      label {
        font-size: 18px;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: 10px;
      border: none;
      outline: none;
      background-color: transparent;
      color: $primary;
      opacity: 0.75;
      cursor: pointer;
      transition: all 0.5s ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/**
 * Server Styles
 */
.servers {
  list-style-type: none;
  text-align: center;
  transition: all 0.5s ease-out;

  h4 {
    margin: calc(2rem - 0.14285714em) 0 1rem;
  }

  .add-server {
    button {
      margin-top: 5px;
      margin-right: 0;
    }
  }
}

.server {
  padding: 5px 0;
  position: relative;

  .dot {
    position: absolute;
    display: block;
    top: 40%;
    z-index: 3;

    .ring {
      border: 2px solid transparent;
      border-radius: 100%;
      height: 16px;
      width: 16px;
      //-webkit-animation: pulsate 1s ease-out infinite;
      position: absolute;
    }

    .circle {
      width: 16px;
      height: 16px;
      background-color: #999;
      border-radius: 100%;
      clip-path: circle(3px at center);
      position: absolute;
    }
  }

  &.is-current-server,
  &:hover {
    .dot {
      .ring {
        border: 2px solid $primary;
        -webkit-animation: pulsate 1s ease-out infinite;
      }

      .circle {
        background-color: $primary;
      }
    }
  }
  /*.highlight {
       position: absolute;
       background-color: #535559;
       height: 10px; width: 10px;
       right: 85%;
       top: 45%;
       border-radius: 100%;
     }*/
  a img {
    width: 50px;
    height: 50px;
    margin: auto;
  }
}

.current-server {
  padding: 0 1em;
  height: 28px;
  display: flex;
  justify-content: space-between;

  .name { line-height: 28px; }

  .ui.icon.button,
  .ui.icon.buttons .button {
    margin-right: 0;
    padding: 0.55em 0.55em 0.55em;
    color: #eee;
    background-color: transparent;
    &:hover {
      background-color: #111;
    }
  }
}

// credit: https://codepen.io/vram1980/pen/Kyaie
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/**
 * User Styles
 */
.current-user {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;

  .ui.button,
  .ui.icon.button,
  .ui.icon.buttons .button {
    padding: 0;
    color: #eee;
    background-color: transparent;
    &:hover {
      img:hover {
        -webkit-filter: brightness(70%);
      }
    }
  }
  .ui.icon.button,
  .ui.icon.buttons .button {
    padding: 0.55em 0.55em 0.55em;
    &:hover {
      background-color: #111;
    }
  }
}

.user {
  .content {
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
  }
  .deets {
    position: relative;
    display: inline-block;
    .online-status {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      position: absolute;
      background-color: #00b5ad;
      border: 2px solid #222;
      bottom: 0; right: 0;
    }
  }
  .pin {
    color: #646464;
    font-size: 10px;
    display: block;
    text-align: left !important;
  }
}
/**
* User Model customization Styles
*/
.user-model-customization {
  margin: 1em;
  height: calc(100% - 2em);

  .tabs { height: 100%; }
  .tab-labels { margin-top: 0; }
  .tab-content {
    // 100% - label height - margin
    height: calc(100% - 27px - 1em);
  }
  .pane {
    height: 100%;
  }

  .accordion {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.active {
      flex: 1;
    }
    .title:not(:first-of-type) {
      margin-top: 4px;
    }
    .title {
      color: #f1f1f1 !important;
      font-size: 16px !important;
      background-color: rgba(0, 0, 0, 0.3);
      font-size: bold;
      text-transform: capitalize;
      &.active,
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      .icon {
        color: $primary;
      }
    }

    .content {
      padding: 8px !important;
      background-color: rgba(0, 0, 0, 0.3);
      &.active {
        flex: 1;
      }
    }
  }
}

/**
* User Model Styles
*/
.profile {
  .c2m, .c3m {
    padding: 0 !important;
  }
}

/*
______ ___________ ___
|_c2t_|____c3t____|  |
|     |           |  |
| c2m |   c3m     |c4|
|_____|           |  |
|_c2b_|___________|__|

*/
.grid-3c-vr {
  background: url("http://www.dataselect.com/wp-content/uploads/2016/07/vTime-The-Boardroom.jpg") no-repeat center center fixed;
  background-size: cover;

  //.c2t,
  .c2m {
    background-color: rgba(155,155,155,0.2);
  }

  //.c3t,
  .c3m {
    background-color: transparent;
  }

  .chatbox {
    background-color: inherit;

    .custom-form {
      label {
        font-size: inherit;
      }
      .group {
        margin-bottom: 1em;
      }
    }
  }

  .members {
    text-align: center;
    h3 {
      display: none;
    }
    i.chevron {
      transform: scaleX(-1);
      filter: FlipH;
    }
    .content {
      display: none;
    }
  }
}

/**
 * Card Styles
 */
.user-card {
  .content,
  .content.extra {
    border-top: none !important;
    .custom-form > .group {
      margin-bottom: 0.5rem;
    }
  }
}

/**
 * Member Styles
 */
.members {
  padding: 0 1em;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    height: 28px;
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 0;
    line-height: 28px;
    display: inline-block;
  }

  .ui.button,
  .ui.icon.button,
  .ui.icon.buttons .button {
    padding: 0;
    color: #eee;
    background-color: transparent;
    &:hover {
      img:hover {
        -webkit-filter: brightness(70%);
      }
    }
  }
  .ui.icon.button,
  .ui.icon.buttons .button {
    padding: 0.55em 0.55em 0.55em;
    &:hover {
      background-color: #111;
    }
  }

  .scroll-y {
    margin-top: 1.33em;
  }
}

/* Misc */
.scroll-y {
  flex: 1 1 auto;
  height: 0px;
  overflow-y: auto;
}
.horizontal-group {
  display: flex;
  flex-direction: row;
  .g-row {
    margin: 0 1rem;
  }
}
