$primary: #7a5ac3;
/**
 * Tab Styles
 */
.tabs {
  .tab-labels {
    list-style-type: none;
    padding: 0;
    display: flex;

    li {
      border-bottom: 1px solid #999;
      flex-grow: 1;
      text-align: center;
      display: inline-block;
      &:hover {
        border-bottom: 1px solid $primary;
      }
      &.active {
        border-bottom-color: $primary;
        button { color: $primary; }
      }

      button {
        color: #fff;
        padding: 5px;
        width: 100%;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .tab-content {}
}
